EmployeeEntityDataAccess/EmployMvcPresentation/Service References/EmployeeDataAccessService/EmployeeDataAccess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeDataAccess" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64364/EmployeeDataAccess.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64364/EmployeeDataAccess.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64364/EmployeeDataAccess.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeDataAccessService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeDataAccess_Fetch_InputMessage">
    <wsdl:part name="parameters" element="tns:Fetch" />
  </wsdl:message>
  <wsdl:message name="IEmployeeDataAccess_Fetch_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeDataAccess_FetchById_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchById" />
  </wsdl:message>
  <wsdl:message name="IEmployeeDataAccess_FetchById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeDataAccess_FetchByName_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchByName" />
  </wsdl:message>
  <wsdl:message name="IEmployeeDataAccess_FetchByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeDataAccess_FetchByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchByTitle" />
  </wsdl:message>
  <wsdl:message name="IEmployeeDataAccess_FetchByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeDataAccess_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IEmployeeDataAccess_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeDataAccess_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IEmployeeDataAccess_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeDataAccess_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IEmployeeDataAccess_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeDataAccess_DeleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteById" />
  </wsdl:message>
  <wsdl:message name="IEmployeeDataAccess_DeleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeDataAccess">
    <wsdl:operation name="Fetch">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeDataAccess/Fetch" message="tns:IEmployeeDataAccess_Fetch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeDataAccess/FetchResponse" message="tns:IEmployeeDataAccess_Fetch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeDataAccess/FetchById" message="tns:IEmployeeDataAccess_FetchById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeDataAccess/FetchByIdResponse" message="tns:IEmployeeDataAccess_FetchById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeDataAccess/FetchByName" message="tns:IEmployeeDataAccess_FetchByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeDataAccess/FetchByNameResponse" message="tns:IEmployeeDataAccess_FetchByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeDataAccess/FetchByTitle" message="tns:IEmployeeDataAccess_FetchByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeDataAccess/FetchByTitleResponse" message="tns:IEmployeeDataAccess_FetchByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeDataAccess/Add" message="tns:IEmployeeDataAccess_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeDataAccess/AddResponse" message="tns:IEmployeeDataAccess_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeDataAccess/Update" message="tns:IEmployeeDataAccess_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeDataAccess/UpdateResponse" message="tns:IEmployeeDataAccess_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeDataAccess/Delete" message="tns:IEmployeeDataAccess_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeDataAccess/DeleteResponse" message="tns:IEmployeeDataAccess_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeDataAccess/DeleteById" message="tns:IEmployeeDataAccess_DeleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeDataAccess/DeleteByIdResponse" message="tns:IEmployeeDataAccess_DeleteById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeDataAccess" type="tns:IEmployeeDataAccess">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Fetch">
      <soap:operation soapAction="http://tempuri.org/IEmployeeDataAccess/Fetch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchById">
      <soap:operation soapAction="http://tempuri.org/IEmployeeDataAccess/FetchById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchByName">
      <soap:operation soapAction="http://tempuri.org/IEmployeeDataAccess/FetchByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchByTitle">
      <soap:operation soapAction="http://tempuri.org/IEmployeeDataAccess/FetchByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IEmployeeDataAccess/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IEmployeeDataAccess/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IEmployeeDataAccess/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteById">
      <soap:operation soapAction="http://tempuri.org/IEmployeeDataAccess/DeleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeDataAccess">
    <wsdl:port name="BasicHttpBinding_IEmployeeDataAccess" binding="tns:BasicHttpBinding_IEmployeeDataAccess">
      <soap:address location="http://localhost:64364/EmployeeDataAccess.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>