EmployeeEntityDataAccess/EmployMvcPresentation/Service References/EmployeeDataAccessService/EmployeeDataAccess.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeDataAccessService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeDataAccessService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployeeContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeContract" nillable="true" type="tns:EmployeeContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeContract" nillable="true" type="tns:ArrayOfEmployeeContract" />
  <xs:complexType name="EmployeeContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeContract" nillable="true" type="tns:EmployeeContract" />
</xs:schema>