EmployeeEntityDataAccess/EmployMvcPresentation/Service References/EmployeeDataAccessService/EmployeeDataAccess2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64364/EmployeeDataAccess.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeDataAccessService.DataContracts" />
  <xs:element name="Fetch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmployeeDataAccessService.DataContracts" minOccurs="0" name="FetchResult" nillable="true" type="q1:ArrayOfEmployeeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmployeeDataAccessService.DataContracts" minOccurs="0" name="FetchByIdResult" nillable="true" type="q2:EmployeeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EmployeeDataAccessService.DataContracts" minOccurs="0" name="FetchByNameResult" nillable="true" type="q3:ArrayOfEmployeeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EmployeeDataAccessService.DataContracts" minOccurs="0" name="FetchByTitleResult" nillable="true" type="q4:ArrayOfEmployeeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EmployeeDataAccessService.DataContracts" minOccurs="0" name="employee" nillable="true" type="q5:EmployeeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EmployeeDataAccessService.DataContracts" minOccurs="0" name="employee" nillable="true" type="q6:EmployeeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EmployeeDataAccessService.DataContracts" minOccurs="0" name="employee" nillable="true" type="q7:EmployeeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>